server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/simple_cloud_disk?setUnicode=true&characterEncoding=utf8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource